<!-- This part of kod will be imported to new.ejs file as a port of the HTML form -->
<label for="kurskod">Kurskod:</label><br />
        <input
          required
         
          type="text"
          id="kurskod"
          name="kurskod"
        />
        <label for="kursnamn">Kursnamn:</label><br />
        <input
          required
          type="text"
          id="kursnamn"
          name="kursnamn"
        /><br />
        <label for="progression">Progression</label><br />
        <input
          required
        
          type="text"
          id="progression"
          name="progression"
        /><br />
        <label for="termin">Termin:</label><br />
        <input
          required
        
          type="text"
          id="termin"
          name="termin"
        />
        <label for="kursplan">Kursplan:</label><br />
        <input
         
          required
          type="text"
          id="kursplan"
          name="kursplan"
        />
  
        <button type="submit" class="btn green new_btn">Spara</button>